body {
	font-family: sans-serif;
	background: #191b22;
	color: #fff;
	padding: 1em;
	margin: 0;
	text-align: center;
}

.selectors {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.selector {
	background: #6364ff;
	border-radius: 4px;
	cursor: pointer;
	padding: .5em;
	width: 0;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
